# Archivos y carpetas generadas automáticamente por Hugo

/resources/
/hugo_stats.json

# Archivos temporales y de caché
.cache/
.DS_Store
Thumbs.db

# Archivos de configuración específicos del usuario
config.toml~
config.yaml~
config.json~

# Archivos del editor de texto y del sistema
*.swp
*.swo
*.bak
*.tmp
*.log
*.lock

# Node.js (si usas npm o yarn para assets o themes)
node_modules/
package-lock.json
yarn.lock

# Go Modules (si usas Go directamente en Hugo)
go.sum
go.mod

# Archivos de despliegue (Ejemplo: Netlify, Vercel)
.netlify/
vercel.json
.env
.env.local

# Archivos de VSCode y otros editores
.vscode/
.idea/
