<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}Fabián González | Ingeniero de Software Experto en AEM, HTML, CSS, JS, PHP, MySQL, ReactJS{% endif %}</title>
  <meta name='description' content='{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}WhatsApp: +54 911 2897 3151. Consultorías y servicios de desarrollo web, Fabian Gonzalez, ingeniero de software y desarrollador web senior.{% endif %}'>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <meta name="robots" content="index, follow">
  <meta name="keywords" content="desarrollo web, ingeniero de software, programador, tecnología, UX/UI, Adobe Experience Manager, ReactJS, NodeJS, PHP, Java, WordPress, consultorías, cursos en línea">
  <meta name="author" content="Fabian Gonzalez">

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{% if page.url == "/" %}Fabián González | Ingeniero de Software Experto en AEM, HTML, CSS, JS, PHP, MySQL, ReactJS{% else %}{{ page.title }} – Fabian Gonzalez{% endif %}">
  <meta name="twitter:description" content="{% if page.url == "/" %}WhatsApp: +54 911 2897 3151. Consultorías y servicios de desarrollo web, Fabian Gonzalez, ingeniero de software y desarrollador web senior.{% elsif page.description %}{{ page.description | strip_html | xml_escape }}{% else %}{{ page.excerpt | strip_html | xml_escape }}{% endif %}">
  <meta name="twitter:image:src" content="{{ site.url }}/assets/img/ogimage.jpg">

  <!-- Facebook OpenGraph -->
  <meta property="og:title" content="{% if page.url == "/" %}Fabián González | Ingeniero de Software Experto en AEM, HTML, CSS, JS, PHP, MySQL, ReactJS{% else %}{{ page.title }} – Fabian Gonzalez{% endif %}">
  <meta property="og:description" content="{% if page.url == "/" %}WhatsApp: +54 911 2897 3151. Consultorías y servicios de desarrollo web, Fabian Gonzalez, ingeniero de software y desarrollador web senior.{% elsif page.description %}{{ page.description | strip_html | xml_escape }}{% else %}{{ page.excerpt | strip_html | xml_escape }}{% endif %}">
  <meta property="og:image" content="{{ site.url }}/assets/img/ogimage.jpg">
  <meta property="og:image:width" content="705">
  <meta property="og:image:height" content="368">

  <!-- Favicon -->
  <link rel="icon" href="{{ site.url }}/assets/img/favicon.ico" type="image/x-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;800;900&display=swap" rel="stylesheet">

  <!-- Ionicons -->
  <link href="https://unpkg.com/ionicons@4.5.0/dist/css/ionicons.min.css" rel="stylesheet">

  <style>
  {% capture include_to_scssify %}
    {% include main.scss %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
  </style>

  <!-- MailerLite Universal -->
    <script>
      function ml_webform_success_4255225(){var r=ml_jQuery||jQuery;r(".ml-subscribe-form-4255225 .row-success").show(),r(".ml-subscribe-form-4255225 .row-form").hide()}
    </script>
     <img loading="lazy"  width="100%" height="100%" src="https://track.mailerlite.com/webforms/o/4255225/j7u4v5?v1623598404" width="1" height="1" style="max-width:1px;max-height:1px;visibility:hidden;padding:0;margin:0;display:block" alt="." border="0">
    <script src="https://static.mailerlite.com/js/w/webforms.min.js?v0c75f831c56857441820dcec3163967c" type="text/javascript"></script>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ site.baseurl }}/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/css/estilos.css" rel="stylesheet">

  {% if page.is_post %}
  {% assign type = "article" %}
{% else %}
  {% assign type = "website" %}
{% endif %}
  <!-- http://ogp.me/ -->
  <meta property="og:type" content="{{ type }}" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}Fabián González | Ingeniero de Software Experto en AEM, HTML, CSS, JS, PHP, MySQL, ReactJS{% endif %}" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 140 }}{% else %}WhatsApp: +54 911 2897 3151. Consultorías y servicios de desarrollo web, Fabian Gonzalez, ingeniero de software y desarrollador web senior.{% endif %}" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@FabianGonzalezdev" />
  <meta name="twitter:creator" content="@FabianGonzalezdev" />
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}Fabián González | Ingeniero de Software Experto en AEM, HTML, CSS, JS, PHP, MySQL, ReactJS{% endif %}" />
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 140 }}{% else %}WhatsApp: +54 911 2897 3151. Consultorías y servicios de desarrollo web, Fabian Gonzalez, ingeniero de software y desarrollador web senior.{% endif %}" />
  <meta name="twitter:image" content="{{ site.url }}/assets/img/ogimage.jpg">

  <!-- http://schema.org/ -->
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "{{ type }}",
    "@id": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}",
    "url": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}",
    "mainEntityOfPage": {
      "@type": "{{ type }}",
      "@id": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
    },
    "headline": "{% if page.title %}{{ page.title }}{% else %}Fabián González | Ingeniero de Software Experto en AEM, HTML, CSS, JS, PHP, MySQL, ReactJS{% endif %}",
    "description": "{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 140 }}{% else %}WhatsApp: +54 911 2897 3151. Consultorías y servicios de desarrollo web, Fabian Gonzalez, ingeniero de software y desarrollador web senior.{% endif %}",
  {% if page.date %}
    "datePublished": "{{ page.date | date_to_xmlschema }}",
  {% endif %}
  {% if page.update %}
    "dateModified": "{{ page.update | date_to_xmlschema }}",
  {% endif %}
  {% if page.image %}
    "image": {
      "@type": "ImageObject",
      "url": "{{ page.url | prepend: site.baseurl | prepend: site.url }}{{ page.image.path }}",
      "width": {{ page.image.width }},
      "height": {{ page.image.height }}
  },
  {% endif %}
    "author": {
      "@type": "Person",
      "name": "Fabian Gonzalez"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Fabian Gonzalez",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ site.url }}/assets/img/favicon.ico",
        "width": 60,
        "height": 60
      }
    }
  }
  </script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-EWFWEGYPFP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-EWFWEGYPFP');
  </script>
</head>
