<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% assign seo_title = page.title | default: site.data.settings.tab__title %}
  {% assign seo_description = page.description | default: page.excerpt | default: site.data.settings.description | strip_html | strip_newlines | truncate: 160 %}
  {% assign share_image = page.image | default: site.data.settings.cover__image %}
  {% assign page_url = page.url | replace:'index.html','' | absolute_url %}
  {% if page.collection == "posts" %}
    {% assign og_type = "article" %}
    {% assign schema_type = "BlogPosting" %}
  {% else %}
    {% assign og_type = "website" %}
    {% assign schema_type = "WebPage" %}
  {% endif %}

  <title>{{ seo_title }}</title>
  <meta name="description" content="{{ seo_description | xml_escape }}">

  <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">

  <link rel="canonical" href="{{ page_url }}">

  <!-- Social metadata -->
  <meta property="og:type" content="{{ og_type }}">
  <meta property="og:site_name" content="{{ site.data.settings.title }}">
  <meta property="og:url" content="{{ page_url }}">
  <meta property="og:title" content="{{ seo_title | xml_escape }}">
  <meta property="og:description" content="{{ seo_description | xml_escape }}">
  <meta property="og:image" content="{{ share_image | absolute_url }}">
  <meta property="og:image:width" content="705">
  <meta property="og:image:height" content="368">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@fgonzalezdev">
  <meta name="twitter:creator" content="@fgonzalezdev">
  <meta name="twitter:title" content="{{ seo_title | xml_escape }}">
  <meta name="twitter:description" content="{{ seo_description | xml_escape }}">
  <meta name="twitter:image" content="{{ share_image | absolute_url }}">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;800;900&display=swap" rel="stylesheet">

  <!-- Ionicons -->
  <link href="https://unpkg.com/ionicons@4.5.0/dist/css/ionicons.min.css" rel="stylesheet">

  <style>
  {% capture include_to_scssify %}
    {% include main.scss %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
  </style>

  <!-- MailerLite Universal -->
    <script>
      function ml_webform_success_4255225(){var r=ml_jQuery||jQuery;r(".ml-subscribe-form-4255225 .row-success").show(),r(".ml-subscribe-form-4255225 .row-form").hide()}
    </script>
    <img src="https://track.mailerlite.com/webforms/o/4255225/j7u4v5?v1623598404" width="1" height="1" style="max-width:1px;max-height:1px;visibility:hidden;padding:0;margin:0;display:block" alt="." border="0">
    <script src="https://static.mailerlite.com/js/w/webforms.min.js?v0c75f831c56857441820dcec3163967c" type="text/javascript"></script>

  <!-- End MailerLite Universal -->


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ site.baseurl }}/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="{{ site.baseurl }}/assets/vendor/aos/aos.css" rel="stylesheet">

  <link href="{{ site.baseurl }}/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


  <!-- Template Main CSS File -->
  <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/css/estilos.css" rel="stylesheet">

  <!-- Schema.org -->
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "{{ schema_type }}",
    "@id": "{{ page_url }}",
    "url": "{{ page_url }}",
    "mainEntityOfPage": {
      "@type": "{{ schema_type }}",
      "@id": "{{ page_url }}"
    },
    "headline": "{{ seo_title | strip_html | strip_newlines | xml_escape }}",
    "description": "{{ seo_description | xml_escape }}",
  {% if page.date %}
    "datePublished": "{{ page.date | date_to_xmlschema }}",
  {% endif %}
  {% if page.update %}
    "dateModified": "{{ page.update | date_to_xmlschema }}",
  {% endif %}
  {% if page.image %}
    "image": "{{ page.image | absolute_url }}",
  {% endif %}
    "author": {
      "@type": "Person",
      "name": "{{ site.data.settings.author.name }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ site.data.settings.title }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ site.data.settings.author.avatar | absolute_url }}",
        "width": 60,
        "height": 60
      }
    }
  }
  </script>

</head>
