<i class="bi bi-list mobile-nav-toggle"></i>
 



    
        
      
       
      
                  
<section class="experience-section section">

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="heading">
            <div class="section__info">
              <div class="section__head">
                <h2 class="section__title">Experiencia Laboral</h2>
              </div>
            </div>
          </div>
        </div><!-- col-sm-4 -->
        <div class="col-sm-8" data-aos="fade-up">
          <div class="experience margin-b-50">
            <h4><b>AEM TECH LEAD</b></h4>
            <h5 class="font-yellow"><b>DANONE FRANCE - ACTIVIA GLOBAL PROJECT</b></h5>
            <p class="font-semi-white margin-tb-30">Mayo 2025 - Actualidad. Lidero la implementación de Activia US-EN dentro del ecosistema digital global de Danone France, coordinando equipos de Francia, Brasil, México y Argentina.</p>
            <ul class="list margin-b-30">
              <li>Arquitectura AEM Cloud, creación de templates, modelado de content fragments y pipelines frontend.</li>
              <li>Mentoría técnica, integración de SmartMedia, Bazaarvoice y GA4, con foco en SEO, accesibilidad y Lighthouse +80.</li>
            </ul>
          </div><!-- experience -->

          <div class="experience margin-b-50" data-aos="fade-up">
            <h4><b>AEM FULL STACK DEVELOPER</b></h4>
            <h5 class="font-yellow"><b>DANONE FRANCE</b></h5>
            <p class="font-semi-white margin-tb-30">Enero 2025 - Junio 2025. Desarrollo de componentes AEM para Danonino México, Danone US y Activia US, integrando React y optimizaciones de performance.</p>
            <ul class="list margin-b-30">
              <li>AEM Sites, HTL, Sling Models, React, SEO técnico y optimización Lighthouse.</li>
            </ul>
          </div><!-- experience -->

          <div class="experience margin-b-50" data-aos="fade-up">
            <h4><b>AEM FRONTEND DEVELOPER</b></h4>
            <h5 class="font-yellow"><b>PROFUTURO MÉXICO</b></h5>
            <p class="font-semi-white margin-tb-30">Marzo 2025 - Junio 2025. Construcción de componentes custom para profuturo.mx, con foco en accesibilidad, performance e integración frontend con Webpack.</p>
          </div><!-- experience -->

          <div class="experience margin-b-50" data-aos="fade-up">
            <h4><b>AEM FULL STACK DEVELOPER FREELANCE</b></h4>
            <h5 class="font-yellow"><b>WHIRLPOOL USA</b></h5>
            <p class="font-semi-white margin-tb-30">Mayo 2024 - Enero 2025. Desarrollo de componentes modulares con HTL, Sling Models y React, integrando AEM con Workfront Fusion y APIs externas.</p>
          </div><!-- experience -->

          <div class="experience margin-b-50" data-aos="fade-up">
            <h4><b>ADOBE CLOUD INSTRUCTOR FREELANCE</b></h4>
            <h5 class="font-yellow"><b>PLATZI / COLGATE-PALMOLIVE</b></h5>
            <p class="font-semi-white margin-tb-30">Mayo 2024 - Diciembre 2024. Diseño y dictado de capacitaciones corporativas sobre AEM Cloud Manager y Workfront para equipos regionales.</p>
          </div><!-- experience -->

          <div class="experience margin-b-50" data-aos="fade-up">
            <h4><b>SENIOR SOFTWARE ENGINEER</b></h4>
            <h5 class="font-yellow"><b>DEPT - KEYSIGHT USA</b></h5>
            <p class="font-semi-white margin-tb-30">Julio 2021 - Mayo 2024. Desarrollo de features AEM, pipelines CI/CD y mentoría a desarrolladores, mejorando performance y confiabilidad de despliegues.</p>
          </div><!-- experience -->

          <div class="experience margin-b-50" data-aos="fade-up">
            <h4><b>AEM WEB DEVELOPER</b></h4>
            <h5 class="font-yellow"><b>FIRST CENTURY BANK USA</b></h5>
            <p class="font-semi-white margin-tb-30">Mayo 2020 - Agosto 2022. Desarrollo de aplicaciones AEM, React y Node.js seguras, optimizadas para SEO e integradas con servicios cloud.</p>
          </div><!-- experience -->

          <div class="experience margin-b-50" >
            <h4><b>AEM SENIOR WEB DEVELOPER</b></h4>
            <h5 class="font-yellow"><b>UNILEVER LATAM / OLIVER</b></h5>

            <p class="font-semi-white margin-tb-30">Septiembre 2019 - Mayo 2022. Gestión y desarrollo de sitios AEM multilenguaje, templates reutilizables y brand.com para marcas de LATAM.</p>
            <ul class="list margin-b-30">
              <li>HTML5, CSS, JavaScript, PHP, MySQL, Postman, React, Node.js, Bitbucket, Sass, Bamboo, Adobe Experience Manager (AEM), AEM Templates, WordPress y Contentful, entre otros.</li>
              <li> Trabajos para Sedal, TRESemmé, Savora, Hellmanns, Knorr entre otras marcas</li>
            </ul>
          </div><!-- experience -->
          <div class="experience margin-b-50" data-aos="fade-up">
            <h4><b>PROGRAMADOR WEB FULLSTACK</b></h4>
            <h5 class="font-yellow"><b>QUADAMA</b></h5>

            <p class="font-semi-white margin-tb-30" data-aos="fade-up">Desarrollo web, programación, diseño. Actualización de plugins. Desarrollo bajo las
              siguientes tecnologías:</p>
            <ul class="list margin-b-30" data-aos="fade-up">
              <li>WordPress, HTML5, CSS, JavaScript, PHP y MySQL.</li>
            </ul>
          </div><!-- experience -->
          <div class="experience margin-b-50" data-aos="fade-up">
            <h4><b>PROGRAMADOR WEB FULLSTACK</b></h4>
            <h5 class="font-yellow"><b>DIARIO NCO</b></h5>

            <p class="font-semi-white margin-tb-30" data-aos="fade-up">Desarrollo web, programación, diseño, community management, mantenimiento de redes sociales. Subida de notas todos los días, de diario Online. Actualización de plugins. Desarrollo bajo las siguientes tecnologías:</p>
            <ul class="list margin-b-30">
              <li>WordPress, HTML5, CSS, JavaScript, PHP y MySQL.</li>
            </ul>
          </div><!-- experience -->



          <div class="experience margin-b-50" data-aos="fade-up">
            <h4><b>PROGRAMADOR WEB</b></h4>
            <h5 class="font-yellow"><b>SKALD DIGITAL</b></h5>

            <p class="font-semi-white margin-tb-30">Diseñador y Programador Web. Diseño Web. Diseño y programación usando PHP, CSS,
HTML5. Diseño Gráfico usando Photoshop, Fireworks, Dreamweaver e Illustrator.Editor de templates y
códigos de CMS como WordPress, Joomla,
Phpbb entre otros.. Desarrollo bajo las siguientes tecnologías:</p>
            <ul class="list margin-b-30">
              <li>WordPress, HTML5, CSS, JavaScript, PHP y MySQL.</li>
            </ul>
          </div><!-- experience -->

          <div class="experience margin-b-50" data-aos="fade-up">
            <h4><b>HELP DESK - SOPORTE TÉCNICO</b></h4>
            <h5 class="font-yellow"><b>PHILIP MORRIS INTERNACIONAL</b></h5>

            <p class="font-semi-white margin-tb-30" data-aos="fade-up">Tecnico Help Desk. Soporte Técnico / Mesa de Ayuda. Analista Mesa de
ayuda soporte a usuarios exclusivos de la propia empresa. Basado
en atención remota a problemas en software, ayuda con sistema de gestión SAP,
base de datos y HandHelds.Carga de labores mediante el sistema HP Openview.

</p>


          </div><!-- experience -->

          <div class="experience margin-b-50" data-aos="fade-up">
            <h4><b>PROFESOR DE COMPUTACIÓN</b></h4>
            <h5 class="font-yellow"><b>INSTITUTO CASEI</b></h5>

            <p class="font-semi-white margin-tb-30">Profesor. Educación. Ayuda, enseñanza en distintos niveles de educación en Microsoft Office Corel Draw 3d Studio y Operador de PC.</p>

          </div><!-- experience -->


        </div><!-- col-sm-8 -->
      </div><!-- row -->
    </div><!-- container -->
      </div>
    </div>

  </div>

</div>

</section><!-- Sección experiencia laboral  -->





            
