              <!-- ======= Values Section ======= -->
              <section id="titulos-universitarios" class="values">
  
                <div class="container" data-aos="fade-up">
          
                  <div class="section__info">
                    <div class="section__head">
                      <h2 class="section__title">Títulos <span class="text-span">Universitarios</span></h2>
                    </div>
                  </div>
          

                  <div class="row">
          
                    <div class="col-lg-6">
                      <div class="box" data-aos="fade-up" data-aos-delay="200">
                        <img src="{{ site.baseurl }}/assets/images/certificates/utn-B.webp" class="img-fluid" alt="">
                        <h3>Diseño Gráfico (UTN)</h3>
                        <p>Título de diseño gráfico digital de la UTN. Formación en Illustrator, Photoshop, composición visual, color, imágenes y maquetación.</p>
                      </div>
                    </div>
          
                    <div class="col-lg-6 mt-4 mt-lg-0">
                      <div class="box" data-aos="fade-up" data-aos-delay="400">
                        <img src="{{ site.baseurl }}/assets/images/certificates/utn-C.webp" class="img-fluid" alt="">
                        <h3>Programador Web Fullstack + ReactJS (UTN)</h3>
                        <p>Diplomado en programación fullstack con HTML, CSS, JavaScript, MySQL, Node.js, Express y React.</p>
                      </div>
                    </div>
          
              
          
                  </div>

                  <div class="row">
          
                    <div class="col-lg-4">
                      <div class="box" data-aos="fade-up" data-aos-delay="200">
                        <img src="{{ site.baseurl }}/assets/images/certificates/utn-A.webp" class="img-fluid" alt="">
                        <h3>Programación web PHP y MySQL (UTN)</h3>
                        <p>Título de programación web con PHP y MySQL. Gestión de bases de datos, contenido dinámico y desarrollo de aplicaciones web.</p>
                      </div>
                    </div>
          
                    <div class="col-lg-4 mt-4 mt-lg-0">
                      <div class="box" data-aos="fade-up" data-aos-delay="400">
                        <img src="{{ site.baseurl }}/assets/images/certificates/utn-D.webp" class="img-fluid" alt="">
                        <h3>Desarrollo con JavaScript (UTN)</h3>
                        <p>Trabajos con JavaScript, funciones, ciclos, consumo de APIs y desarrollo web en general.</p>
                      </div>
                    </div>
          
                    <div class="col-lg-4 mt-4 mt-lg-0">
                      <div class="box" data-aos="fade-up" data-aos-delay="600">
                        <img src="{{ site.baseurl }}/assets/images/certificates/utn-E.webp" class="img-fluid" alt="">
                        <h3>Desarrollo con Node.js (UTN)</h3>
                        <p>Creación de servidores, gestión de bases de datos, desarrollo de APIs, Express y MongoDB.</p>
                      </div>
                    </div>
          
                  </div>
          

  
          
              </section><!-- End Values Section -->
  
