<i class="bi bi-list mobile-nav-toggle"></i>
 

<!-- ======= Hero Section ======= -->


      <!-- ======= Sección estudios ======= -->
      <section id="marcas" class="clients">

          <div class="container" data-aos="fade-up">
     <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">Marcas para las que <span class="text-span">Trabajé</span></h2>
            </div>
          </div>
            <div class="clients-slider swiper-container">
              <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide"><img src="{{ site.baseurl }}/assets/images/logos/brands/ala.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="{{ site.baseurl }}/assets/images/logos/brands/axe.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="{{ site.baseurl }}/assets/images/logos/brands/cif.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="{{ site.baseurl }}/assets/images/logos/brands/cleanipedia.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="{{ site.baseurl }}/assets/images/logos/brands/clear.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="{{ site.baseurl }}/assets/images/logos/brands/comfort.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="{{ site.baseurl }}/assets/images/logos/brands/dove.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="{{ site.baseurl }}/assets/images/logos/brands/hellmanns.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="{{ site.baseurl }}/assets/images/logos/brands/knorr.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="{{ site.baseurl }}/assets/images/logos/brands/lipton.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="{{ site.baseurl }}/assets/images/logos/brands/lux.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="{{ site.baseurl }}/assets/images/logos/brands/maizena.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="{{ site.baseurl }}/assets/images/logos/brands/ponds.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="{{ site.baseurl }}/assets/images/logos/brands/rexona.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="{{ site.baseurl }}/assets/images/logos/brands/savora.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="{{ site.baseurl }}/assets/images/logos/brands/sedal.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="{{ site.baseurl }}/assets/images/logos/brands/suave.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="{{ site.baseurl }}/assets/images/logos/brands/tresemme.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="{{ site.baseurl }}/assets/images/logos/brands/unilever.webp" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="{{ site.baseurl }}/assets/images/logos/brands/vivere.webp" class="img-fluid" alt=""></div>
              </div>
              <div class="swiper-pagination"></div>
              <br />
            </div>
          </div>
        
        </section><!-- End Clients Section -->
    
                
