<!-- begin author -->
<section class="author">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="author__inner d-flex flex-column flex-md-row">

          <div class="author__right order-1 order-md-2 flex-fill">
            <div class="author__image">
               <img loading="lazy"  width="100%" height="100%" class=" img-fluid autorImagen" alt="Fabian Gonzalez Dev">
            </div>
          </div>

          <div class="author__left order-2 order-md-1 flex-fill">
            <h1 class="author__name">{{ site.data.settings.author.title }}</h1>
            <p class="author__bio">{{ site.data.settings.author.bio }}</p>

            <p class="nav__item whatsapp-inferior">
              <button class="header-embedSubmit" onclick="window.location.href='https://api.whatsapp.com/send?phone=5491128973151'">Envíame Whatsapp &nbsp; <i class="ion ion-logo-whatsapp"></i></button>
              <button disabled="disabled" style="display:none" type="button" class="loading"> <div class="ml-form-embedSubmitLoad"></div> <span class="sr-only">Abriendo Whatsapp...</span> </button>
            </p>
            <p onclick="window.location.href='https://calendly.com/fabiangonzalezdev/charla-de-trabajo-de-30-minutos'" class="author__btn btn btn-primary" target="_blank">
              {{ site.data.settings.author.button__text }}
            </p>

            <a class="author__btn btn btn-primary" onclick="window.location.href='/cv/curriculum-fabian-gonzalez.pdf'" href="/cv/curriculum-fabian-gonzalez.pdf">
              {{ site.data.settings.author.button__text2 }}
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end author -->
