<!-- begin author -->
<section class="author">
    <div class="container">
      <div class="row">
        <div class="col col-12">
          <div class="author__inner">

              <div class="author__left col col-12 aos-init aos-animate" data-aos="fade-up">
                <h1 class="author__name"> <a class="linksButton primary"
                    onclick="window.location.href='https://www.youtube.com/channel/UCXvmfLwOtwZS845_-WBFnnQ'">
                    &nbsp; Último vídeo &nbsp; <i class="ion ion-logo-youtube"></i>&nbsp;</a> </h1>
    <h1 class="author__name"> <a class="linksButton primary" onclick="window.location.href='https://github.com/fabiangonzalezdev'">
        &nbsp; Github &nbsp; <i class="ion ion-logo-github"></i>&nbsp;</a> </h1>
        <h1 class="author__name"> <a class="linksButton primary"
            onclick="window.location.href='https://x.com/mistersatodev'">
            &nbsp; X / Twitter &nbsp; <i class="ion ion-logo-twitter"></i>&nbsp;</a> </h1>

    <h1 class="author__name"> <a class="linksButton primary"
        onclick="window.location.href='https://www.instagram.com/mistersatodev'">
        &nbsp; Instagram &nbsp; <i class="ion ion-logo-instagram"></i>&nbsp;</a> </h1>

    <h1 class="author__name"> <a class="linksButton primary"
        onclick="window.location.href='https://www.linkedin.com/in/fabiangonzalezdev'">
        &nbsp; LinkedIn &nbsp; <i class="ion ion-logo-linkedin"></i>&nbsp;</a> </h1>

        <h1 class="author__name"> <a class="linksButton primary"
            onclick="window.location.href='/projects/'">
            &nbsp; Portfolio &nbsp;</a> </h1>

    <h1 class="author__name"> <a class="linksButton primary"
        onclick="window.location.href='{{ site.data.settings.cta__button_url | relative_url }}'">
        &nbsp; Descargar CV &nbsp; </a> </h1>
              </div>



            <div class="author__right">
              <div class="author__image">
                <img class="lazy" data-src="{{ site.data.settings.author.image }}" alt="{{site.data.settings.author.name}}">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end author -->
