<!-- ======= Services Section ======= -->
<section id="servicios" class="values">

  <div class="container" data-aos="fade-up">

    <div class="section__info">
      <div class="section__head">
        <h2 class="section__title" style="padding-top:40px;">Mis <span class="text-span"> Servicios</span></h2>
      </div>
      <div class="section__propuestaDeValor-subtitle">
        <h3>
          Creo soluciones digitales personalizadas que impulsan el crecimiento de tu negocio. Desde desarrollo web y ecommerce hasta aplicaciones móviles y optimización SEO, mi experiencia en tecnologías como AEM, ReactJS, Java e integración de IA garantiza resultados de alto impacto.
        </h3>
      </div>
    </div>

    <div class="row">

      <!-- Servicio 1: Desarrollo Web -->
      <div class="col-lg-4">
        <div class="box misServicios" data-aos="fade-up" data-aos-delay="200">
          <i class="bi bi-code-square" style="font-size: 3rem; display: block; text-align: center;"></i>
          <h3>Desarrollo Web</h3>
          <p>Creación de sitios web modernos, rápidos y optimizados para SEO, con enfoque en la experiencia del usuario.</p>
        </div>
      </div>

      <!-- Servicio 2: Desarrollo Ecommerce -->
      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box misServicios" data-aos="fade-up" data-aos-delay="400">
          <i class="bi bi-cart" style="font-size: 3rem; display: block; text-align: center;"></i> 
          <h3>Desarrollo Ecommerce</h3>
          <p>Plataformas de comercio electrónico escalables y seguras, diseñadas para maximizar las ventas y la conversión.</p>
        </div>
      </div>

      <!-- Servicio 3: Desarrollo AEM -->
      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box misServicios" data-aos="fade-up" data-aos-delay="600">
          <i class="bi bi-tools" style="font-size: 3rem; display: block; text-align: center;"></i>
          <h3>Desarrollo AEM</h3>
          <p>Migración, optimización y desarrollo de soluciones en Adobe Experience Manager (AEM) para una gestión eficiente de contenidos.</p>
        </div>
      </div>

    </div>

    <div class="row">

      <!-- Servicio 4: Desarrollo de Apps Móviles -->
      <div class="col-lg-4">
        <div class="box misServicios" data-aos="fade-up" data-aos-delay="200">
          <i class="bi bi-phone" style="font-size: 3rem; display: block; text-align: center;"></i>
          <h3>Desarrollo de Apps Móviles</h3>
          <p>Creación de aplicaciones móviles intuitivas y funcionales, diseñadas para mejorar la experiencia del usuario.</p>
        </div>
      </div>

      <!-- Servicio 5: Desarrollo SEO -->
      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box misServicios" data-aos="fade-up" data-aos-delay="400">
          <i class="bi bi-search" style="font-size: 3rem; display: block; text-align: center;"></i>   <h3>Desarrollo SEO</h3>
          <p>Optimización de sitios web para motores de búsqueda, aumentando la visibilidad y el tráfico orgánico.</p>
        </div>
      </div>

      <!-- Servicio 6: Integración de IA -->
      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box misServicios" data-aos="fade-up" data-aos-delay="600">
          <i class="bi bi-robot" style="font-size: 3rem; display: block; text-align: center;"></i> <h3>Integración de IA</h3>
          <p>Implementación de soluciones de inteligencia artificial para automatizar procesos y mejorar la toma de decisiones.</p>
        </div>
      </div>

    </div>

  </div>

</section><!-- End Services Section -->