              <!-- ======= Values Section ======= -->
              <section id="titulos-universitarios" class="values">
  
                <div class="container" data-aos="fade-up">
          
                  <div class="section__info">
                    <div class="section__head">
                      <h2 class="section__title">Titulos <span class="text-span">Universitarios</span></h2>
                    </div>
                  </div>
          

                  <div class="row">
          
                    <div class="col-lg-4">
                      <div class="box" data-aos="fade-up" data-aos-delay="200">
                         <img loading="lazy"  width="100%" height="100%" src="titulos/utn-B_thumb.webp" class="img-fluid" alt="Titulo Diseño Grafico (UTN)">
                        <h3>Diseño Grafico (UTN)</h3>
                        <p>Titulo de diseño gráfico digital de la UTN. Trabajos en illustrator, photoshop. Composición de colores, imagenes y desarrollo de maquetación.</p>
                      </div>
                    </div>
          
                    <div class="col-lg-4 mt-4 mt-lg-0">
                      <div class="box" data-aos="fade-up" data-aos-delay="400">
                         <img loading="lazy"  width="100%" height="100%" src="titulos/utn-C_thumb.webp" class="img-fluid" alt="Titulo Programador Web Fullstack + ReactJS (UTN)">
                        <h3>Programador Web Fullstack + ReactJS (UTN)</h3>
                        <p>Diplomado en programación fullstack en tecnologías HTML, CSS, Javascript, Mysql, Node JS, Express y ReactJS.</p>
                      </div>
                    </div>
          
              
          
                  </div>

                  <div class="row">
          
                    <div class="col-lg-4">
                      <div class="box" data-aos="fade-up" data-aos-delay="200">
                         <img loading="lazy"  width="100%" height="100%" src="titulos/utn-A_thumb.webp" class="img-fluid" alt="Titulo Programación web PHP y Mysql (UTN">
                        <h3>Programación web PHP y Mysql (UTN)</h3>
                        <p>Titulo de programación web con PHP y MySQL. Gestión y modificación de base de datos. Muestra de contenido desde una bdd y desarrollo aplicaciones webs dinámicas.</p>
                      </div>
                    </div>
          
                    <div class="col-lg-4 mt-4 mt-lg-0">
                      <div class="box" data-aos="fade-up" data-aos-delay="400">
                         <img loading="lazy"  width="100%" height="100%" src="titulos/utn-D_thumb.webp" class="img-fluid" alt="Titulo Desarrollo con Javascript (UTN)">
                        <h3>Desarrollo con Javascript (UTN)</h3>
                        <p>Trabajos en javascript, funciones, ciclos contacto con API's y desarrollo de javascript en general.</p>
                      </div>
                    </div>
          
                    <div class="col-lg-4 mt-4 mt-lg-0">
                      <div class="box" data-aos="fade-up" data-aos-delay="600">
                         <img loading="lazy"  width="100%" height="100%" src="titulos/utn-E_thumb.webp" class="img-fluid" alt="Titulo Desarrollo con NodeJS (UTN)">
                        <h3>Desarrollo con NodeJS (UTN)</h3>
                        <p>Creación de servidores con base de datos, gestión y creación de APIS, express y MongoDB.</p>
                      </div>
                    </div>
          
                  </div>
          

  
          
              </section><!-- End Values Section -->
  