/* Author */
.author {
  padding: 2px 0;

  @media only screen and (max-width: $desktop) {
    padding: 80px 0;
  }

  @media only screen and (max-width: $tablet) {
     padding: 40px 0 80px;
  }

  @media only screen and (max-width: $mobile) {
    padding: 30px 0 60px;
  }
}

.author__inner {
  display: flex;
  align-items: center;

  @media only screen and (max-width: $tablet) {
    display: flex;

  }
}

.author__left,
.author__right {
  width: 50%;

  @media only screen and (max-width: $tablet) {
    width: 100%;
  }
}

.author__left {
  max-width: 520px;
  padding-right: 20px;
  margin-right: auto;

  .author__name {
    font-size: 56px;
    font-weight: 900;
    color: $heading-font-color;

    @media only screen and (max-width: 1130px) {
      font-size: 44px;
      line-height: 1.2;
    }

    @media only screen and (max-width: $desktop) {
      font-size: 36px;
      margin-bottom: 24px;
    }

    @media only screen and (max-width: $mobile) {
      font-size: 32px;
    }
  }

  .author__bio {
    margin-bottom: 48px;
    font-size: 19px;
    line-height: 1.6;
    color: $text-color;

    @media only screen and (max-width: $desktop) {
      font-size: 17px;
    }
  }

  .author__btn {
    
    justify-content: revert;
    align-items: center;
    font-size: 26px;
    width: 100%;
    margin-top: 10px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(135deg, #08bafe 50%,#08bafe 100%);
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: all 0.35s;

    &:hover {
      background-color: rgba($secondary-color, 0.08);

      background: linear-gradient(135deg, #ea6ffe 2%,#08bafe 100%);


      
      .circle-bg {
        transition: all .2s cubic-bezier(.215,.61,.355,1);
        transform: scale(.94);
      }
    }

    .circle-bg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      margin-right: 8px;
      border-radius: 50%;
      will-change: transform;

      transition: all .2s cubic-bezier(.215, .61, .355, 1);
    }

    .button-arrow {
      color: $white;
    }

    
    @media only screen and (max-width: $desktop) {
      margin-top: 36px;
      margin-top: 10px;
    }
  }
}
.author__imageMobile{
  width: 180px;
  height: 180px;
  margin-left: auto;
  border-radius: 90px;
  margin-left: 20%;
  margin-bottom: 20px;

@media only screen and (min-width: $tablet) {
  display: none;
}

}

.author__right {
  position: relative;
 
  .author__image {
    position: relative;
    z-index: 10;
    width: 480px;
    height: 480px;
    margin-left: auto;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      border-radius: 90px;
      background: $border-color;
    }

    &::after {
      content: "";
      position: absolute;
      top: -2%;
      left: -8.7%;
      transform: rotate(-45deg);
      display: block;
      width: 130px;
      height: 100px;
      background-image: -webkit-repeating-radial-gradient(center center, rgba($primary-color, .7), rgba($primary-color, .7) 2px, transparent 2px, transparent 100%);
      background-image: -moz-repeating-radial-gradient(center center, rgba($primary-color, .7), rgba($primary-color, .7) 2px, transparent 2px, transparent 100%);
      background-image: -ms-repeating-radial-gradient(center center, rgba($primary-color, .7), rgba($primary-color, .7) 2px, transparent 2px, transparent 100%);
      background-image: repeating-radial-gradient(center center, rgba($primary-color, .7), rgba($primary-color, .7) 2px, transparent 2px, transparent 100%);
      -webkit-background-size: 15px 15px;
      -moz-background-size: 15px 15px;
      background-size: 15px 15px;
      user-select: none;

      @media only screen and (max-width: 1130px) {
        position: unset !important;
      }
    }

    img {
      position: absolute;
      top: 0;
      z-index: 1;
      height: 100%;
      width: 100%;
      border-radius: 90px;
      object-fit: cover;
      user-select: none;
      
      transition: inherit;
      border-style: solid;

      border-color: #e6e4fe;
    }

  }

  @media only screen and (max-width: 1130px) {
    .author__image {
      width: 400px;
      height: 400px;
    }
  }

  @media only screen and (max-width: $desktop) {
    .author__image {
      width: 340px;
      height: 340px;

      img {
        border-radius: 60px;
      }
    }

    
  }

  @media only screen and (max-width: $tablet) {
    order: -1;

    .author__image {
      width: 100%;
      height: 220px;
      margin-bottom: 40px;
      object-fit: cover;
      
      img {
        border-radius: 30px;
      }
    }
  }

  @media only screen and (max-width: $mobile) {
    .author__image {
      height: 200px;

      margin-bottom: 32px;

      img {
        border-radius: 16px;
        box-shadow: none;
        object-position: 30% 12%;
      }
    }
  }
}